<div class="nested-fields">
    <div class="d-flex">
        <%= f.input :step, input_html: { class: 'form-control input-field' } %>
        <%= link_to_remove_association "Remove Step", f, class: "btn btn-link"%>
    </div>
</div>