<h1> User show page </h1>

<%= link_to 'Edit Profile', edit_user_path %>

<%= link_to 'Add a Recipe', new_recipe_path(@recipe) %>


<h2> My Recipes <h2>
<% @user.recipes.each do |recipe| %>
    <%= link_to recipe.title, recipe_path(recipe.id) %><br>
<% end %>