/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap/scss/bootstrap";

.form-group {
  width: 50%;
  margin: 0 auto;
  padding-top: 5%;
}

.label {
  font-weight: bold;
  padding: 1%;
}

.input {
  margin-bottom: 2%;
}

.error,
.error_notification {
  color: red;
  display: block;
}

.is-center {
  text-align: center;
}

.is-flex {
  display: flex;
}

.inline {
  display: inline;
}

.padding-2 {
  padding: 2%;
}

.hover:hover {
  filter: invert(42%) sepia(78%) saturate(6424%) hue-rotate(202deg)
    brightness(107%) contrast(102%);
}

.margin-bottom-2 {
  margin-bottom: 2%;
}

.margin-top-2-up {
  margin-top: -2%;
}
